@import "tailwindcss";

@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

/* Plugins */
@plugin "@tailwindcss/forms";

/* Optional Preline UI Styles */
/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

/* Custom height values */
@theme {
  --height-150: 37.5rem; /* 600px */
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
